.owl-carousel {
    max-height: 300px;
    overflow: hidden;
    width: 100%;
    z-index: 0;

    .owl-nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;

        button.owl-prev, button.owl-next {
            font-size: 100px !important;
            line-height: 0 !important;
            position: absolute;
            top: 0;
            height: 100%;
            margin: 0;
            padding: 5px !important;
            color: $gray1 !important;

            &:hover {
                color: white !important;
            }
        }

        .owl-prev {
            left: 0;
        }

        .owl-next {
            right: 0;
        }
    }
}
