.main-footer {
    margin-top: 100px;
    background: $main2;
    padding: 40px 0;

    &__menu-box {
        &__title {
            display: block;
            text-align: center;
            font-size: 22px;
        }

        &__list {
            margin-top: 10px;
            list-style: none;

            a, a:hover, a:active, a:focus, a:visited {
                color: #212529;
            }
        }
    }

    &__join-box {
        &__title {
            display: block;
            font-size: 22px;
            text-align: center;
            color: $main1;
            text-transform: uppercase;
            font-weight: 800;
        }

        &__socials {
            text-align: center;
            font-size: 35px;

            a, a:hover, a:active, a:focus, a:visited {
                color: #212529;
            }
        }

        &__payments {
            margin-top: 10px;

            &__title {
                font-weight: 800;
                font-size: 18px;
            }

            &__box {
                margin-top: 5px;
            }
        }
    }

    &__newsletter-box {
        padding: 20px;
        border-radius: 7px;

        &__title {
            display: block;
            font-size: 25px;
            text-transform: uppercase;
            font-weight: 800;
            color: #C4C3F7;
        }

        &__info {
            display: block;
            font-size: 14px;
            font-weight: 800;
            margin-top: 10px;
        }

        form {
            margin-top: 10px;
        }
    }
}
