.main-header {
    margin-top: 10px;
    &__authentication {
        &__button {
            color: $main1;
            font-size: 20px;
            padding: 15px;
            cursor: pointer;
        }

        &__authenticate-box {
            width: 100%;
            height: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;

            &__close-button {
                position: absolute;
                right: 10px;
                top: 10px;
                padding: 1px 5px;
                line-height: 10px;
                border: 3px solid $main1;
                color: $main1;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                cursor: pointer;
            }

            &__header {
                font-size: 30px;
                color: $main1;
                margin-top: 60px;
                margin-bottom: 20px;
            }

            &__background {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.30);
            }

            &__box {
                position: relative;
                width: 400px;
                margin: auto;
                margin-top: 150px;
                background-color: $main2;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                padding: 10px 60px;
                padding-bottom: 10px;

                .form-control {
                    margin-bottom: 30px;
                }
            }
        }
    }

    &__icons {

        &.withCategories{
            text-align: right;
            display: flex;
            justify-content: space-between;
        }

        &__menu {
            .fa-bars {
                font-size: 30px;
                cursor: pointer;
                color: $main1;
            }

            &__menu-background {
                background: #00000070;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
            }

            &__menu-box {
                text-align: left;
                position: fixed;
                right: 0;
                top: 0;
                background: #fff;
                height: 100%;
                width: 360px;
                padding: 100px 40px 0px 30px;
                z-index: 6;

                &__close {
                    border: 3px solid #a8a8a8;
                    padding: 1px 9px;
                    border-radius: 5px;
                    color: #a8a8a8;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }

                &__header {
                    font-size: 30px;
                    padding-left: 15px;
                    font-weight: bold;
                }

                &__list {
                    margin-top: 20px;
                    list-style: none;
                    padding-left: 0px;

                    li {
                        padding: 10px 0px 10px 15px;

                        &:not(:last-of-type)
                        {
                            border-bottom: 1px solid $main1;
                        }

                        a, a:hover, a:active, a:focus, a:visited {
                            color: $dark1;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumbs {
    margin-top: 15px;

    a {
        color: $dark1;
        text-decoration: none;
        margin-right: 10px;

        .fa-chevron-right {
            margin-left: 5px;
        }

        &:hover {
            color: $main1;

            .fa-chevron-right {
                margin-left: 5px;
                color: $dark1;
            }
        }
    }
}

.cursor-pointer {
    cursor: pointer;
}
