.pager {
    margin-top: 20px;
    text-align: center;

    a, span {
        height: 15px;
        padding: 5px 10px 5px 5px;
        border-right: 1px solid $main1;
    }

    span, a:hover {
        font-weight: bold;
        text-decoration: underline;
    }

    :last-child {
        border-right: 0;
    }
}
