.container {
    position: relative;
}

.main-header {
    &__icons {
        &__categories {
            > span {
                display: flex;
                align-items: center;
                cursor: pointer;

                .fa-bars {
                    font-size: 30px;
                    cursor: pointer;
                    color: $main1;
                    margin-right: 10px;
                }
            }

            &__categories-background {
                background: #00000070;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
            }

            &__categories-box {
                text-align: left;
                position: fixed;
                left: 0;
                top: 0;
                background: #fff;
                height: 100%;
                width: 300px;
                padding-left: 30px;
                padding-right: 15px;
                z-index: 6;

                &__close {
                    border: 3px solid #a8a8a8;
                    padding: 1px 9px;
                    border-radius: 5px;
                    color: #a8a8a8;
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    cursor: pointer;
                }

                &__header {
                    color: #c4c3f7;
                    font-size: 22px;
                    display: block;
                    width: 100%;
                    text-align: center;
                    margin-top: 50px;
                }

                a, a:hover, a:active, a:focus, a:visited {
                    color: $dark1;

                    &.active {
                        font-weight: 600;
                    }
                }

                .subCategories {
                    padding-left: 10px;
                    border-left: 2px solid #c4c3f7;
                }
            }
        }
    }
}

.products-list {
    .product-row {
        .product-card {
            margin: 0;
            height: calc(100% - 22px);
        }
    }
}

.categories-box {
    position: absolute;
    width: 200px;
    z-index: 5;
    background: white;
    left: -200px;
}
.categories {
    padding-left: 15px;
    padding-right: 15px;

    .main-header {
        color: #c4c3f7;
        font-size: 22px;
        display: block;
        width: 100%;
        text-align: center;
    }

    a, a:hover, a:active, a:focus, a:visited {
        color: $dark1;

        &.active {
            font-weight: 600;
        }
    }

    .subCategories {
        padding-left: 10px;
        border-left: 2px solid #c4c3f7;
    }
}
