.owl-carousel.products {
    margin-top: 100px;
}

.product-card {
    margin: 11px;
    min-height: 250px;
    position: relative;
    padding: 20px;
    padding-bottom: 50px;

    &.white-template {
        background: white;
    }

    &__favorite-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 25px;
        color: $gray1;

        &:hover, &.active {
            color: $gray4
        }
    }

    &__image {
        text-align: center;
        height: 180px;
        img {
            max-height: 180px;
            max-width: 100%;

            &--placeholder {
                padding: 35px 0px;
            }
        }
    }

    &__name {
        text-align: center;
        margin-top: 10px;
    }

    &__price {
        text-align: center;
        font-size: 20px;
        line-height: 20px;
        font-family: Bodoni MT, $font-family1;
        font-weight: bold;
        position: absolute;
        bottom: 10px;
        width: 100%;
        left: 0;
    }

    &__cart-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 25px;
        color: #A8A8A8;

        &:hover {
            color: $gray4
        }
    }
}

.product {
    &__image-box {
        width: 60%;
        margin: auto;
        padding: 60px 30px;
        text-align: center;

        &--image {
            width: auto;
            max-width: 100%;
            max-height: 300px;
        }

        &--placeholder {
            width: 120px;
        }
    }

    &__image-thumbs {
        margin-top: 20px;
        padding-left: 60px;
        padding-right : 60px;

        .owl-stage {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &__thumb-box {
            cursor: pointer;

            &--image {
                width: auto !important;
                max-width: 100%;
                max-height: 80px;
                margin: auto;
            }
        }
    }

    &__title {
        font-size: 35px;
    }

    &__description {
        background: $main2;
        padding: 30px;
        font-size: 14px;
        margin-top: 30px;
    }

    &__price {
        margin-top: 30px;
        font-size: 30px;

        &--discounted + &--standard {
            font-size: 18px;
            text-decoration: line-through;
        }
    }

    &__addons {
        background: $main2;
        padding: 30px;
        margin-top: 30px;

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 20px;
        }

        .input-group {
            display: block;
        }

        .checkbox {
            label {
                position: relative;
                padding-left: 25px;

                input {
                    display: none;
                    + span {
                        position: absolute;
                        width: 15px;
                        border: 1px solid black;
                        height: 15px;
                        border-radius: 8px;
                        background: white;
                        left: 0;
                        top: 5px;
                    }
                    &:checked + span {
                        background: black;
                    }
                }
            }
        }
    }

    &__add-to-cart {
        width: 100%;
        text-align: center;

        button {
            margin-top: 30px;
            width: 50%;
            padding: 5px;
            background: $main1;
            font-size: 20px;
        }
    }

    &__recommended_products {
        &__wrapper {
            background: $main2;
            padding-top: 20px;
            padding-bottom: 40px;
        }
    }
}
