.welcome-middle-bar {
    margin-top: 100px;
    background-color: $main2;

    .col {
        padding: 35px 15px;
    }

    &__icon {
        display: block;
        text-align: center;
        font-size: 35px;
        color: $main1;

        img {
            height: 45px;
        }
    }

    &__text {
        display: block;
        margin-top: 10px;
        text-align: center;
        color: $main1;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 35px;
        font-family: Amatic SC, $font-family1;
    }
}

.welcome-hr {
    border-top: 1px solid $main1;
    margin: 50px 15px 0;
}

.welcome-contact {
    margin-top: 50px;

    &__form, &__information {
        background: $main2;
        padding: 50px;
    }

    &__form {
        border-right: 30px solid white;

        &__title {
            text-align: center;
            display: block;
            font-size: 20px;
            margin-bottom: 15px;
        }

        &__information {
            position: relative;
            padding-left: 45px;
            margin-bottom: 15px;

            &__icon {
                position: absolute;
                left: 0;
                top: 8px;
                color: #8A8686;
                font-size: 25px;

                &.fa-mobile-alt {
                    left: 5px;
                }
            }

            &__text {
                font-size: 14px;
                line-height: 16px;

                span {
                    display: block;
                    font-size: 13px;
                    color: #c4c3f7;
                    font-weight: 800;
                }
            }
        }
    }

    &__information {
        border-left: 30px solid white;
        text-align: right;

        ul {
            text-align: left;
            > li {
                margin-bottom: 8px;
                font-size: 17px;
            }
        }
    }
}
