// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

body {
    font-family: $font-family1;
    color: $dark1;
}
.form-control {
    border: 0;
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: -4px 4px 8px -2px rgba(0,0,0,0.15);
    box-shadow: -4px 4px 8px -2px rgba(0,0,0,0.15);
}

.btn-primary {
    background: $main1;
    color: $dark1;
    border: none;
    padding: 7px 40px;
    -webkit-box-shadow: -4px 4px 8px -2px rgba(0,0,0,0.15);
    box-shadow: -4px 4px 8px -2px rgba(0,0,0,0.15);

    &:hover, &:active, &:focus {
        background: $main3;
        color: $dark1;
        border: none;
    }
}

.shadow2 {
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.4);
    box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.4);
}

body > main {
    margin-top: 50px;
}

// Base
@import 'base/fonts';
@import 'base/pager';
@import 'base/header';
@import 'base/banners';
@import 'base/footer';

//Views
@import 'views/product';
@import 'views/welcome';
@import 'views/catalog';
