// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.btn-default {
    background-image: linear-gradient(#ffffff, #f6f6f6 100%, #f6f6f6);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFFFF", endColorstr="#FFF6F6F6", GradientType=0);
    border: 1px solid #dedede !important;
    border-bottom: 1px solid #bdbdbd !important;
    color: #3c4350 !important;
    -webkit-filter: none;
    filter: none;
}
@media (min-width: 768px)
{
    .form-footer {
        position: fixed;
        z-index: 1000;
    }
}

.tox.tox-tinymce
{
    min-height: 500px;
}
.hasFluentFooter {
    margin-bottom: 33px;
}
.form-footer {
    min-height: 55px;
    padding-bottom: 0;
    padding-top: 10px;
    padding-left: 10px;
    bottom: 0;
    left: 250px;
    right: 0;
    background: #f7f7f7;
    border-top: 1px solid #f0f0f0;
}

.gridview {
    .footer {

    }
}

.pull-right {
    text-align: left;
}

@import '~bootstrap/scss/bootstrap';

@import 'menu';
